.crops-page {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/detail-rice-plant-sunset-valencia-with-plantation-out-focus-rice-grains-plant-seed_181624-25838.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722038400&semt=sph');
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}
  

  .crops-header {
    background-image: 
        linear-gradient(
            rgba(118, 118, 118, 0.6), /* Dark overlay color with 60% opacity */
            rgba(11, 1, 1, 0.614)  /* Lighter overlay color with 30% opacity */
        ),
        url('https://images.unsplash.com/photo-1511735643442-503bb3bd348a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHJ5ZSUyMGZsb3VyfGVufDB8fDB8fHww');
    background-size: 1700px 790px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 20px;
    text-align: center;
    color: #252525d2;
    font-size: 2em;
  }
  
  .crops-header h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .crops-header p {
    font-size: 30px;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(10, 24, 11, 0.769);
  }
  
  .crop-overview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background-color: #ececec;
  }
  
  .overview-content {
    max-width: 600px;
    margin-right: 100px;
  }
  
  .overview-content h2 {
    font-size: 2.4em;
    text-align: left;
    color: #537728;
    margin-bottom: 20px;
  }
  
  .overview-content p {
    font-size: 20px;
    color: #666;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .overview-image {
    max-width: 700px;
    max-height: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
  }
  
  .featured-crops {
    padding: 60px 20px;
    text-align: center;
  }
  
  .featured-crops h2 {
    font-size: 40px;
    color: #537728;
    margin-bottom: 40px;
  }
  
  .crop-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    
  }
  
  .crop-card {
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:10px;
    padding: 20px;
    /* max-width: 300px; */
    /* max-height: 700px; */
    text-align: left;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
  }
  
  .crop-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .crop-card img {
    width: 100%;
    height: 40%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease; 
  }
  
  .crop-card:hover img {
    transform: scale(1.05); 
  }
  
  .crop-card h3 {
    font-size: 22px;
    color: #537728;
    margin-bottom: 10px;
  }
  
  .crop-card p {
    font-size: 17.5px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .learn-more-buttonc {
    background-color: #537728;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    position: relative;
    z-index: 40;
    margin-top: 10px;
  }
  
  .learn-more-buttonc:hover {
    background-color: #405e20;
    transform: translateY(-2px);
  }
  
  .crop-management-tips {
    padding: 65px 20px;
    text-align: center;
    background:linear-gradient(to bottom,rgb(193, 231, 249),rgb(249, 249, 249));

  }
  
  .crop-management-tips h2 {
    font-size: 40px;
    color: #537728;
    margin-bottom: 40px;
  }
  
  .tips-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
  
  .tip-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 280px;
    height: 1*0px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tip-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .tip-card h4 {
    font-size: 22px;
    color: #537728;
    margin-bottom: 10px;
  }
  
  .tip-card p {
    font-size: 18px;
    color: #666;
  }
  
  .crops-action {
    background-color: #537728;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
  }
  
  .crops-action h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  .crops-action p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #ffffff;
    color: #537728;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border: none;
  }
  
  .cta-button:hover {
    background-color: #405e20;
    color: #ffffff;
    transform: translateY(-3px);
  }



  .crop-detail-card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 32%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    max-width: 650px;
  }
  
  .crop-detail-content {
    text-align: center;
  }
  
  .crop-detail-image {
    
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 230px; 
    object-fit: cover;
  }
  
  .crop-detail-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
  }
  

  .crop-detail-list li {
    font-size: 18px;
    color: #444;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    transition: background-color 0.3s ease;
  }
  
  .crop-detail-list li:hover {
    background-color: #e9f5e9;
  }
  
  .close-details-button {
    background-color: #a78924;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .close-details-button:hover {
    background-color: #9d7800;
  }

  .background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 34, 34, 0.32); 
    backdrop-filter: blur(5px);
    z-index: 900; 
    pointer-events: none; 
  }

  .esection {
    text-align: center;
    padding: 60px 10px;
    /* background: #f9f9f9; */
    position: relative;
    /* background-image: url('https://cdn.pixabay.com/photo/2022/08/04/17/49/fields-7365217_1280.jpg'); */
    background-repeat: no-repeat;
    background-size: 1600px 700px;
  }
  
  .explorecrops {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 10px auto 0px;
   
  }
  
  .eh1 {
    font-size: 3rem;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
  }
  
  .bute{
    padding: 20px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #387004;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    animation : fadeIn 1s ease-in-out;
    transition: background-color 0.3s ease;
  }
  
  .bute:hover {
    background-color: #c29a33;
    color: black;
  }
 
  .no-scroll {
    overflow: hidden;
  }


  
  