.get-started-page {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    /* padding: 20px; */
    background-color: #f8f9fa;
  }
  
  .get-started-header {
    background-image: url('https://wallpapers.com/images/hd/wheat-field-agriculture-on-sunset-b6cmvpqk23wwoucc.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 200px 20px;
    text-align: center;
    margin-bottom: 20px;
    /* border-radius: 8px; */
  }
  
  .get-started-header h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .get-started-header p {
    font-size: 20px;
  }
  
  .get-started-introduction {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
    margin-top: -50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .get-started-introduction h2 {
    color: #537728;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .get-started-introduction p {
    font-size: 1.4em;
    color: #323131;
  }
  
  .get-started-guides {
    padding: 50px 20px;
    background-color: #e7e5e5;
    text-align: center;
  }
  
  .get-started-guides h2 {
    color: #537728;
    font-size: 40px;
    margin-bottom: 30px;
    
  }
  
  .guides-list {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .guides-list li {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .guides-list li:hover {
    transform: translateY(-5px);
  }
  
  .guides-list h3 {
    color: #537728;
    font-size: 26px;
  }
  
  .guides-list p {
    font-size: 20px;
    color: #636363;
  }
  
  .get-started-resources {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .get-started-resources h2 {
    color: #537728;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .resources-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    
  }
  
  .resource-item {
    background-color: #e1dede;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    max-width: 300px;
    transition: transform 0.3s ease;
    text-decoration: none;
  }
  
  .resource-item:hover {
    transform: translateY(-5px);
  }
  
  .resource-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .resource-item h3 {
    color: #537728;
    font-size: 24px;
    padding: 10px;
  }
  
  .resource-item p {
    font-size: 19px;
    color: #666;
    padding: 0 10px 20px;
  }
  
  .get-started-action {
    background-color: #e1dede;
    text-align: center;
    padding: 50px 20px;
  }
  
  .get-started-action h2 {
    color: #264007;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .get-started-action p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .cta-button3 {
    background-color: #335a04;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button3:hover {
    background-color: #6c8a39;
  }
  