

/* body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; 
  color: #333;
  line-height: 2.4;
} */

/* Page Title */
h2.page-titlev {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
}

/* Carousel Styles */
.video-tutorials-page {
  padding: 20px;
  background-color: #ffffff; 
  height: 660px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #969696; /* Set background color of the carousel container to white */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 20px;
}

.carousel-button {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Video Content Styles */
.carousel-video-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: transform 1s ease-in-out; /* Add sliding effect */
  opacity: 0;
  animation: fadeIn 1s forwards;
  padding: 40px;
}

.carousel-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%; 
  cursor: pointer; 
  transition: transform 0.3s ease;
}


.carousel-video:hover {
  transform: scale(1.05);
}

.carousel-video iframe {
  width: 100%;
  height: 200px;
  border: none;
  transition: height 0.3s ease;
}

/* Active video styles */
.carousel-video.active iframe {
  height: 400px; /* Increase height for active video */
}

/* Text below the video */
.video-details {
  padding: 10px;
  text-align: center;
}

.video-details h3 {
  font-size: 1.3rem;
  color: #333;
  font-weight: bold;
}

.video-details p {
  font-size: 1.1rem;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
